[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.2"
psycopg2-binary = "~=2.9.4"
django-admin-list-filters = "*"
django-admin-filters = "*"

[dev-packages]

[requires]
python_version = "3.10"
